<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Login example</title>
    </head>
    <body>
        <form action="login" method="post" accept-charset="utf-8">
            Username: <input type="text" value="" name="username" id=""/><br>
            Password: <input type="password" value="" name="password" id=""/><br>
            <input type="submit" name="" id="" value="Login" />
        </form><br><br>

        New user<br>
        <form action="register" method="post" accept-charset="utf-8">
            Username: <input type="text" value="" name="username" id=""/><br>
            Password: <input type="password" value="" name="password" id=""/><br>
            <input type="submit" name="" id="" value="Register" />
        </form><br><br>
    </body>
</html>
